<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% if app_env != 'prod' %}[{{ app_env }}] &bull; {% endif %}{% block title %}Apidae Bootstrap{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
        <link
            rel="stylesheet"
            href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
        />      
        {% if app_tagmanager_id is defined %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ app_tagmanager_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ app_tagmanager_id }}');
        </script>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
    </head>
    <body class="{{ app_env }}">
        {% block body %}
            {% block header %}{% include 'header.html.twig' %}{% endblock %}
            {% block nav %}{% include 'nav.html.twig' %}{% endblock %}
            {% block container %}
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="sidebar-sticky pt-3">
                            <ul class="nav flex-column">
                                {{ render(path('menu')) }}
                            </ul>
                        </div>
                    </nav>
                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                        {% block breadcrumb %}
                            {{ render(path('breadcrumb')) }}
                        {% endblock %}
                        {% block h1 %}
                            <h1>{{ titre|default(app.request.get('_route')|trans) }}</h1>
                        {% endblock %}
                        {% block alerts %}
                            {% include 'alerts.html.twig' %}
                        {% endblock %}
                        {% block main %}{% endblock %}
                        {% block helper %}{% endblock %}
                        {% if debug is defined %}
                            {{ dump(debug) }}
                        {% endif %}
                        {% if gql is defined %}
                            <pre style="font-size:.6em;max-height:80px;overflow:auto;"><code>{{ gql }}</code></pre>
                        {% endif %}
                    </main>
                </div>
            </div>
            {% endblock %}
        {% endblock %}
        {% include 'env.html.twig' %}
    </body>
</html>
